@import "../../Helpers/Mixins.scss";

.projects {
  &__text {
    font-size: 35px;
    margin-bottom: 50px;
    color: #fff;

    @include onTablet {
      margin-bottom: 30px;
    }

    @include onMobile {
      font-size: 22px;
      margin-bottom: 40px;
    }
  }

  &__name {
    font-size: 25px;

    @include onMobile {
      font-size: 20px;
    }
  }

  &__link {
    display: flex;
    font-size: 22px;
    text-decoration: none;
    color: inherit;
    margin-bottom: 7px;
    transition: all 0.3s ease;

    @include onMobile {
      font-size: 15px;
      margin-bottom: 15px;
    }

    &:hover {
      color: purple;
    }
  }
}

.swiper {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;

  @include onMobile {
    margin-bottom: 80px;
  }
}

.swiper-wrapper {
  margin-bottom: 30px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
  transition: all 0.3s ease;

  @include onTablet {
    display: none;
  }
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: purple;
}